/* helper */
.h-clear{
    clear: both;
}
.h-show{
    display: inline-block;
}
.h-hide{
    display: none !important;
}
.h-left{
    float: left;
}
.h-right{
    float: right;
}
.h-input-param{
    display: inline;
    height: 21px;
    padding: 0;
    width: 50px;
}
.h-sort a.asc:after{
    content: " \2193";
}
.h-sort a.desc:after{
    content: " \2191";
}
input.has-error,
textarea.has-error{
border-color: #a94442 !important;
}
input.has-success,
textarea.has-success{
border-color: #3c763d !important;
}
.j-form-errors ul{
    padding-left: 0;
    list-style-type: none;
}
.j-form-errors ul > li{
    position: relative;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 5px;
    padding: 15px;
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

/* crutch */
.patients-search-form .form-group_age {
    width: 135px;
}
.patients-search-form .form-group_age input {
    width: 42px;
}
.help-block {
    margin-bottom: 0;
    margin-top: 0;
}
a.action{
    cursor: pointer;
}
.has-success .dropdown-toggle,
/*.ng-h-add .form-control.ng-valid,*/
.has-success .sexpicker .btn-select,
.has-success .j-radiopicker-li{
    border-color: #3c763d;
}
.has-error .dropdown-toggle,
/*.ng-h-add .form-control.ng-invalid,*/
.has-error .sexpicker .btn-select,
.has-error .j-radiopicker-li{
    border-color: #a94442;
}
.upload-photo.man{
    background-image: url("../img/default_man.png");
}
.upload-photo.woman{
    background-image: url("../img/default_woman.png");
}
.ng-cloak{
    display: none !important;
}
.kv-plugin-loading+input{
    display: none;
}
.entry-available a{
    color: #cad2da;
    text-decoration: none;
}
.entry-available a:hover{
    color: #416586;
}
.select2-container .select2-choices .select2-search-field input,
.select2-container .select2-choice, .select2-container .select2-choices,
.select2-drop,
.select2-search input,
.select2-container-active .select2-choice,
.select2-container-multi.select2-container-active .select2-choices,
.select2-container-multi.select2-dropdown-open .select2-choices {
    box-shadow: none;
}
.select2-drop{
    border-radius: 0;
}
.select2-search input,
.select2-dropdown-open .select2-choice,
.select2-dropdown-open .select2-choices{
    background: none;
}